.footer {
  color: rgb(255, 255, 255);
  padding: 1rem 0.5vh;
  font-size: 0.8rem;
  display: flex;
  flex-direction: rox;
  justify-content: center;
  a {
    text-decoration: none;
    color: inherit;
  }
  .footer_socials {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
  }
  .footer_social {
    margin-right: 2.8rem;
    svg {
      font-size: 2.2rem;
    }
  }
  .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
  }
}
