.footer {
  color: grey;
  padding: 1rem 0.5vh;
  font-size: 0.8rem;
  a {
    text-decoration: none;
    color: inherit;
  }
  .container {
    max-width: 980px;
    margin: 0 auto;
  }
  &_socials {
    margin-left: -0.2rem;
    padding: 1rem 22rem;
    .footer_social {
      margin-right: 1.2rem;
      svg {
        font-size: 2.2rem;
      }
    }
  }
  .copyright {
    display: flex;
    align-items: center;
    padding: 1rem 18rem;
  }
}
