.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 1;
  position: fixed;
  width: 100%;
  padding: 22px;
  color: #fff;
  background: #000;
  transition: background-color 0.3s ease-in-out;
  .brand {
    font-size: 3rem;
  }
  a {
    display: flex;
    color: #fff;
  }

  &--black {
    background-color: rgb(29, 71, 186);
  }

  .popUp {
    height: 300px;
    width: 400px;
    background-color: #fff;
  }

  p {
    font-size: 1.5rem;
    margin-bottom: 0;
    //display: flex;
  }

  &__links {
    transition: background-color 0.3s ease-in-out;

    .nav__link {
      text-decoration: none;
      padding: 5px 10px;
    }
    // @media screen and (max-width: 767.98px) {
    //   display: flex;
    //   flex-direction: column;
    //   align-items: center;
    //   visibility: hidden;
    //   margin-bottom: 2%;
    //   position: absolute;
    //   margin-top: 10%;
    //   font-size: 2rem;
    //   flex-wrap: nowrap;
    //   // .show & {
    //   //   display: flex;
    //   //   flex-direction: row;
    //   //   visibility: visible;
    //   //   width: 100%;
    //   //   height: 100vh;
    //   //   top: 60px;
    //   //   background-color: #000;
    //   //   position: absolute;
    //   // }
    //   // .nav__link {
    //   //   font-size: 1.5rem;
    //   //   padding: 8px 4%;
    //   // }
    // }
  }
}
